body{
padding: 0px;
margin: 0px;
}

#aframecontainer{
position: absolute;
width: 100%;
height: 100%;

}

#test{
width: 100%;
height: 100%;
}

#hide{
position: absolute;
width: 50%;
left: 50%;
height: 100%;
display: block;
background-color: red;
z-index: 10;
}

iframe{
        border: 0;
      }
      
      
.modal { position: absolute; z-index: -1; width: 100%; height: 100%; background: #FFFFFF;opacity: 0; transition: opacity 0.5s ease;}
.modal.show {opacity: 1; z-index: 100;}
.modal.hide {opacity: 0; z-index: 100;}
.modal.down {z-index: -1;}

#innerhtml { position: relative;  width: 600px;  top: 50%; left: 50%; transform: translate(-50%, -50%);}
#innerhtml img{ display: block; max-width: 600px; max-height: 100%;}         


#btn-close{color: #fff; text-align: center; position: absolute; right: 0px; top: 0px; background-color: #bfbfbf; font-family: monospace; font-size: 2em; line-height: 0.8em; padding: 5px;}
#btn-close:hover {color: #000000; background-color: #ffffff;}


.overlay {
  position: absolute;
  top: 0%;
  left: 100%;
}

